KTTS.xml

<!--  Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094.  -->
<!--  Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.qldtktts.viettel.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.qldtktts.viettel.com/" name="VSmartService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.qldtktts.viettel.com/" schemaLocation="http://10.58.71.138:8153/KTTS2_SERVICE/VSmartService?xsd=1"/>
</xsd:schema>
</types>
<message name="updateTypeInHan">
<part name="parameters" element="tns:updateTypeInHan"/>
</message>
<message name="updateTypeInHanResponse">
<part name="parameters" element="tns:updateTypeInHanResponse"/>
</message>
<message name="updateStatusEntity">
<part name="parameters" element="tns:updateStatusEntity"/>
</message>
<message name="updateStatusEntityResponse">
<part name="parameters" element="tns:updateStatusEntityResponse"/>
</message>
<message name="rejectAssetManager">
<part name="parameters" element="tns:rejectAssetManager"/>
</message>
<message name="rejectAssetManagerResponse">
<part name="parameters" element="tns:rejectAssetManagerResponse"/>
</message>
<message name="getSysUserFromStaffCode">
<part name="parameters" element="tns:getSysUserFromStaffCode"/>
</message>
<message name="getSysUserFromStaffCodeResponse">
<part name="parameters" element="tns:getSysUserFromStaffCodeResponse"/>
</message>
<message name="createAssetMoveCmd">
<part name="parameters" element="tns:createAssetMoveCmd"/>
</message>
<message name="createAssetMoveCmdResponse">
<part name="parameters" element="tns:createAssetMoveCmdResponse"/>
</message>
<message name="viewInfoAssetMoveCmd">
<part name="parameters" element="tns:viewInfoAssetMoveCmd"/>
</message>
<message name="viewInfoAssetMoveCmdResponse">
<part name="parameters" element="tns:viewInfoAssetMoveCmdResponse"/>
</message>
<message name="viewInfoAssetMoveConfirm">
<part name="parameters" element="tns:viewInfoAssetMoveConfirm"/>
</message>
<message name="viewInfoAssetMoveConfirmResponse">
<part name="parameters" element="tns:viewInfoAssetMoveConfirmResponse"/>
</message>
<message name="getAssetInStationNew">
<part name="parameters" element="tns:getAssetInStationNew"/>
</message>
<message name="getAssetInStationNewResponse">
<part name="parameters" element="tns:getAssetInStationNewResponse"/>
</message>
<message name="getConstructionList">
<part name="parameters" element="tns:getConstructionList"/>
</message>
<message name="getConstructionListResponse">
<part name="parameters" element="tns:getConstructionListResponse"/>
</message>
<message name="getMerchandiseInStation">
<part name="parameters" element="tns:getMerchandiseInStation"/>
</message>
<message name="getMerchandiseInStationResponse">
<part name="parameters" element="tns:getMerchandiseInStationResponse"/>
</message>
<message name="confirmAssetMoveDelivery">
<part name="parameters" element="tns:confirmAssetMoveDelivery"/>
</message>
<message name="confirmAssetMoveDeliveryResponse">
<part name="parameters" element="tns:confirmAssetMoveDeliveryResponse"/>
</message>
<message name="getStationList">
<part name="parameters" element="tns:getStationList"/>
</message>
<message name="getStationListResponse">
<part name="parameters" element="tns:getStationListResponse"/>
</message>
<message name="getLineList">
<part name="parameters" element="tns:getLineList"/>
</message>
<message name="getLineListResponse">
<part name="parameters" element="tns:getLineListResponse"/>
</message>
<message name="getListEntityByUser">
<part name="parameters" element="tns:getListEntityByUser"/>
</message>
<message name="getListEntityByUserResponse">
<part name="parameters" element="tns:getListEntityByUserResponse"/>
</message>
<message name="countEntityByUser">
<part name="parameters" element="tns:countEntityByUser"/>
</message>
<message name="countEntityByUserResponse">
<part name="parameters" element="tns:countEntityByUserResponse"/>
</message>
<message name="getListHandoverByUser">
<part name="parameters" element="tns:getListHandoverByUser"/>
</message>
<message name="getListHandoverByUserResponse">
<part name="parameters" element="tns:getListHandoverByUserResponse"/>
</message>
<message name="getListEntityInHan">
<part name="parameters" element="tns:getListEntityInHan"/>
</message>
<message name="getListEntityInHanResponse">
<part name="parameters" element="tns:getListEntityInHanResponse"/>
</message>
<message name="updateWareExpNoteNation">
<part name="parameters" element="tns:updateWareExpNoteNation"/>
</message>
<message name="updateWareExpNoteNationResponse">
<part name="parameters" element="tns:updateWareExpNoteNationResponse"/>
</message>
<message name="checkMerchandiseCodeNation">
<part name="parameters" element="tns:checkMerchandiseCodeNation"/>
</message>
<message name="checkMerchandiseCodeNationResponse">
<part name="parameters" element="tns:checkMerchandiseCodeNationResponse"/>
</message>
<message name="checkListMerEntityNation">
<part name="parameters" element="tns:checkListMerEntityNation"/>
</message>
<message name="checkListMerEntityNationResponse">
<part name="parameters" element="tns:checkListMerEntityNationResponse"/>
</message>
<message name="updateAcceptanceUCTTNation">
<part name="parameters" element="tns:updateAcceptanceUCTTNation"/>
</message>
<message name="updateAcceptanceUCTTNationResponse">
<part name="parameters" element="tns:updateAcceptanceUCTTNationResponse"/>
</message>
<message name="getConstructionListNation">
<part name="parameters" element="tns:getConstructionListNation"/>
</message>
<message name="getConstructionListNationResponse">
<part name="parameters" element="tns:getConstructionListNationResponse"/>
</message>
<message name="createImpReqNation">
<part name="parameters" element="tns:createImpReqNation"/>
</message>
<message name="createImpReqNationResponse">
<part name="parameters" element="tns:createImpReqNationResponse"/>
</message>
<message name="NoSuchAlgorithmException">
<part name="fault" element="tns:NoSuchAlgorithmException"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="createAssetMoveCmdNation">
<part name="parameters" element="tns:createAssetMoveCmdNation"/>
</message>
<message name="createAssetMoveCmdNationResponse">
<part name="parameters" element="tns:createAssetMoveCmdNationResponse"/>
</message>
<message name="confirmAssetMoveDeliveryNation">
<part name="parameters" element="tns:confirmAssetMoveDeliveryNation"/>
</message>
<message name="confirmAssetMoveDeliveryNationResponse">
<part name="parameters" element="tns:confirmAssetMoveDeliveryNationResponse"/>
</message>
<message name="confirmAssetMoveRecvNation">
<part name="parameters" element="tns:confirmAssetMoveRecvNation"/>
</message>
<message name="confirmAssetMoveRecvNationResponse">
<part name="parameters" element="tns:confirmAssetMoveRecvNationResponse"/>
</message>
<message name="rejectAssetMoveConfirmNation">
<part name="parameters" element="tns:rejectAssetMoveConfirmNation"/>
</message>
<message name="rejectAssetMoveConfirmNationResponse">
<part name="parameters" element="tns:rejectAssetMoveConfirmNationResponse"/>
</message>
<message name="getAssetInWarehouseNation">
<part name="parameters" element="tns:getAssetInWarehouseNation"/>
</message>
<message name="getAssetInWarehouseNationResponse">
<part name="parameters" element="tns:getAssetInWarehouseNationResponse"/>
</message>
<message name="checkWorkOrderNation">
<part name="parameters" element="tns:checkWorkOrderNation"/>
</message>
<message name="checkWorkOrderNationResponse">
<part name="parameters" element="tns:checkWorkOrderNationResponse"/>
</message>
<message name="checkOffStationNation">
<part name="parameters" element="tns:checkOffStationNation"/>
</message>
<message name="checkOffStationNationResponse">
<part name="parameters" element="tns:checkOffStationNationResponse"/>
</message>
<message name="getListContractFromConstrNation">
<part name="parameters" element="tns:getListContractFromConstrNation"/>
</message>
<message name="getListContractFromConstrNationResponse">
<part name="parameters" element="tns:getListContractFromConstrNationResponse"/>
</message>
<message name="countAssetInWarehouseNation">
<part name="parameters" element="tns:countAssetInWarehouseNation"/>
</message>
<message name="countAssetInWarehouseNationResponse">
<part name="parameters" element="tns:countAssetInWarehouseNationResponse"/>
</message>
<message name="countAssetInStationNation">
<part name="parameters" element="tns:countAssetInStationNation"/>
</message>
<message name="countAssetInStationNationResponse">
<part name="parameters" element="tns:countAssetInStationNationResponse"/>
</message>
<message name="getAssetInStationNation">
<part name="parameters" element="tns:getAssetInStationNation"/>
</message>
<message name="getAssetInStationNationResponse">
<part name="parameters" element="tns:getAssetInStationNationResponse"/>
</message>
<message name="getAssetHistoryNation">
<part name="parameters" element="tns:getAssetHistoryNation"/>
</message>
<message name="getAssetHistoryNationResponse">
<part name="parameters" element="tns:getAssetHistoryNationResponse"/>
</message>
<message name="getWarehouseListNation">
<part name="parameters" element="tns:getWarehouseListNation"/>
</message>
<message name="getWarehouseListNationResponse">
<part name="parameters" element="tns:getWarehouseListNationResponse"/>
</message>
<message name="getWareExpNoteNation">
<part name="parameters" element="tns:getWareExpNoteNation"/>
</message>
<message name="getWareExpNoteNationResponse">
<part name="parameters" element="tns:getWareExpNoteNationResponse"/>
</message>
<message name="viewInfoAssetMoveCmdNation">
<part name="parameters" element="tns:viewInfoAssetMoveCmdNation"/>
</message>
<message name="viewInfoAssetMoveCmdNationResponse">
<part name="parameters" element="tns:viewInfoAssetMoveCmdNationResponse"/>
</message>
<message name="viewInfoAssetMoveConfirmNation">
<part name="parameters" element="tns:viewInfoAssetMoveConfirmNation"/>
</message>
<message name="viewInfoAssetMoveConfirmNationResponse">
<part name="parameters" element="tns:viewInfoAssetMoveConfirmNationResponse"/>
</message>
<message name="countAssetStationNation">
<part name="parameters" element="tns:countAssetStationNation"/>
</message>
<message name="countAssetStationNationResponse">
<part name="parameters" element="tns:countAssetStationNationResponse"/>
</message>
<message name="getAssetStationNation">
<part name="parameters" element="tns:getAssetStationNation"/>
</message>
<message name="getAssetStationNationResponse">
<part name="parameters" element="tns:getAssetStationNationResponse"/>
</message>
<message name="getAssetStationListNation">
<part name="parameters" element="tns:getAssetStationListNation"/>
</message>
<message name="getAssetStationListNationResponse">
<part name="parameters" element="tns:getAssetStationListNationResponse"/>
</message>
<message name="countAssetStationListNation">
<part name="parameters" element="tns:countAssetStationListNation"/>
</message>
<message name="countAssetStationListNationResponse">
<part name="parameters" element="tns:countAssetStationListNationResponse"/>
</message>
<message name="getListStationInStationHouseNation">
<part name="parameters" element="tns:getListStationInStationHouseNation"/>
</message>
<message name="getListStationInStationHouseNationResponse">
<part name="parameters" element="tns:getListStationInStationHouseNationResponse"/>
</message>
<message name="getAssetFluctuationsNation">
<part name="parameters" element="tns:getAssetFluctuationsNation"/>
</message>
<message name="getAssetFluctuationsNationResponse">
<part name="parameters" element="tns:getAssetFluctuationsNationResponse"/>
</message>
<message name="getMerInStationNation">
<part name="parameters" element="tns:getMerInStationNation"/>
</message>
<message name="getMerInStationNationResponse">
<part name="parameters" element="tns:getMerInStationNationResponse"/>
</message>
<message name="createAssetMoveCmdCDC">
<part name="parameters" element="tns:createAssetMoveCmdCDC"/>
</message>
<message name="createAssetMoveCmdCDCResponse">
<part name="parameters" element="tns:createAssetMoveCmdCDCResponse"/>
</message>
<message name="confirmAssetMove">
<part name="parameters" element="tns:confirmAssetMove"/>
</message>
<message name="confirmAssetMoveResponse">
<part name="parameters" element="tns:confirmAssetMoveResponse"/>
</message>
<message name="checkScanSerial">
<part name="parameters" element="tns:checkScanSerial"/>
</message>
<message name="checkScanSerialResponse">
<part name="parameters" element="tns:checkScanSerialResponse"/>
</message>
<message name="getListmoveCmdCDC">
<part name="parameters" element="tns:getListmoveCmdCDC"/>
</message>
<message name="getListmoveCmdCDCResponse">
<part name="parameters" element="tns:getListmoveCmdCDCResponse"/>
</message>
<message name="getLimitScriptUCTTNation">
<part name="parameters" element="tns:getLimitScriptUCTTNation"/>
</message>
<message name="getLimitScriptUCTTNationResponse">
<part name="parameters" element="tns:getLimitScriptUCTTNationResponse"/>
</message>
<message name="getLimitScriptUCTT">
<part name="parameters" element="tns:getLimitScriptUCTT"/>
</message>
<message name="getLimitScriptUCTTResponse">
<part name="parameters" element="tns:getLimitScriptUCTTResponse"/>
</message>
<message name="createAssetLostNation">
<part name="parameters" element="tns:createAssetLostNation"/>
</message>
<message name="createAssetLostNationResponse">
<part name="parameters" element="tns:createAssetLostNationResponse"/>
</message>
<message name="createAssetLost">
<part name="parameters" element="tns:createAssetLost"/>
</message>
<message name="createAssetLostResponse">
<part name="parameters" element="tns:createAssetLostResponse"/>
</message>
<message name="getListMerchandiseAppraiseNation">
<part name="parameters" element="tns:getListMerchandiseAppraiseNation"/>
</message>
<message name="getListMerchandiseAppraiseNationResponse">
<part name="parameters" element="tns:getListMerchandiseAppraiseNationResponse"/>
</message>
<message name="getListCriteriaAHINation">
<part name="parameters" element="tns:getListCriteriaAHINation"/>
</message>
<message name="getListCriteriaAHINationResponse">
<part name="parameters" element="tns:getListCriteriaAHINationResponse"/>
</message>
<message name="updateAHIScoreNation">
<part name="parameters" element="tns:updateAHIScoreNation"/>
</message>
<message name="updateAHIScoreNationResponse">
<part name="parameters" element="tns:updateAHIScoreNationResponse"/>
</message>
<message name="getLinkListNation">
<part name="parameters" element="tns:getLinkListNation"/>
</message>
<message name="getLinkListNationResponse">
<part name="parameters" element="tns:getLinkListNationResponse"/>
</message>
<message name="getLineListNation">
<part name="parameters" element="tns:getLineListNation"/>
</message>
<message name="getLineListNationResponse">
<part name="parameters" element="tns:getLineListNationResponse"/>
</message>
<message name="searchMappingLinkAndLineNation">
<part name="parameters" element="tns:searchMappingLinkAndLineNation"/>
</message>
<message name="searchMappingLinkAndLineNationResponse">
<part name="parameters" element="tns:searchMappingLinkAndLineNationResponse"/>
</message>
<message name="mappingFromLineToLinkNation">
<part name="parameters" element="tns:mappingFromLineToLinkNation"/>
</message>
<message name="mappingFromLineToLinkNationResponse">
<part name="parameters" element="tns:mappingFromLineToLinkNationResponse"/>
</message>
<message name="getListCatMerConfig">
<part name="parameters" element="tns:getListCatMerConfig"/>
</message>
<message name="getListCatMerConfigResponse">
<part name="parameters" element="tns:getListCatMerConfigResponse"/>
</message>
<message name="getListCatMerConfigNation">
<part name="parameters" element="tns:getListCatMerConfigNation"/>
</message>
<message name="getListCatMerConfigNationResponse">
<part name="parameters" element="tns:getListCatMerConfigNationResponse"/>
</message>
<message name="getAcceptanceUCTTNation">
<part name="parameters" element="tns:getAcceptanceUCTTNation"/>
</message>
<message name="getAcceptanceUCTTNationResponse">
<part name="parameters" element="tns:getAcceptanceUCTTNationResponse"/>
</message>
<message name="getComboInStationHouseNation">
<part name="parameters" element="tns:getComboInStationHouseNation"/>
</message>
<message name="getComboInStationHouseNationResponse">
<part name="parameters" element="tns:getComboInStationHouseNationResponse"/>
</message>
<message name="getAssetComboInStationHouseNation">
<part name="parameters" element="tns:getAssetComboInStationHouseNation"/>
</message>
<message name="getAssetComboInStationHouseNationResponse">
<part name="parameters" element="tns:getAssetComboInStationHouseNationResponse"/>
</message>
<message name="insertComboNation">
<part name="parameters" element="tns:insertComboNation"/>
</message>
<message name="insertComboNationResponse">
<part name="parameters" element="tns:insertComboNationResponse"/>
</message>
<message name="deleteComboNation">
<part name="parameters" element="tns:deleteComboNation"/>
</message>
<message name="deleteComboNationResponse">
<part name="parameters" element="tns:deleteComboNationResponse"/>
</message>
<message name="updateComboNation">
<part name="parameters" element="tns:updateComboNation"/>
</message>
<message name="updateComboNationResponse">
<part name="parameters" element="tns:updateComboNationResponse"/>
</message>
<message name="getListCatErrorNation">
<part name="parameters" element="tns:getListCatErrorNation"/>
</message>
<message name="getListCatErrorNationResponse">
<part name="parameters" element="tns:getListCatErrorNationResponse"/>
</message>
<message name="getListCatError">
<part name="parameters" element="tns:getListCatError"/>
</message>
<message name="getListCatErrorResponse">
<part name="parameters" element="tns:getListCatErrorResponse"/>
</message>
<message name="updateCombo">
<part name="parameters" element="tns:updateCombo"/>
</message>
<message name="updateComboResponse">
<part name="parameters" element="tns:updateComboResponse"/>
</message>
<message name="insertCombo">
<part name="parameters" element="tns:insertCombo"/>
</message>
<message name="insertComboResponse">
<part name="parameters" element="tns:insertComboResponse"/>
</message>
<message name="deleteCombo">
<part name="parameters" element="tns:deleteCombo"/>
</message>
<message name="deleteComboResponse">
<part name="parameters" element="tns:deleteComboResponse"/>
</message>
<message name="getListMerchandiseAppraise">
<part name="parameters" element="tns:getListMerchandiseAppraise"/>
</message>
<message name="getListMerchandiseAppraiseResponse">
<part name="parameters" element="tns:getListMerchandiseAppraiseResponse"/>
</message>
<message name="getListCriteriaAHI">
<part name="parameters" element="tns:getListCriteriaAHI"/>
</message>
<message name="getListCriteriaAHIResponse">
<part name="parameters" element="tns:getListCriteriaAHIResponse"/>
</message>
<message name="updateAHIScore">
<part name="parameters" element="tns:updateAHIScore"/>
</message>
<message name="updateAHIScoreResponse">
<part name="parameters" element="tns:updateAHIScoreResponse"/>
</message>
<message name="getLinkList">
<part name="parameters" element="tns:getLinkList"/>
</message>
<message name="getLinkListResponse">
<part name="parameters" element="tns:getLinkListResponse"/>
</message>
<message name="searchMappingLinkAndLine">
<part name="parameters" element="tns:searchMappingLinkAndLine"/>
</message>
<message name="searchMappingLinkAndLineResponse">
<part name="parameters" element="tns:searchMappingLinkAndLineResponse"/>
</message>
<message name="mappingFromLineToLink">
<part name="parameters" element="tns:mappingFromLineToLink"/>
</message>
<message name="mappingFromLineToLinkResponse">
<part name="parameters" element="tns:mappingFromLineToLinkResponse"/>
</message>
<message name="getAcceptanceUCTT">
<part name="parameters" element="tns:getAcceptanceUCTT"/>
</message>
<message name="getAcceptanceUCTTResponse">
<part name="parameters" element="tns:getAcceptanceUCTTResponse"/>
</message>
<message name="getComboInStationHouse">
<part name="parameters" element="tns:getComboInStationHouse"/>
</message>
<message name="getComboInStationHouseResponse">
<part name="parameters" element="tns:getComboInStationHouseResponse"/>
</message>
<message name="getAssetComboInStationHouse">
<part name="parameters" element="tns:getAssetComboInStationHouse"/>
</message>
<message name="getAssetComboInStationHouseResponse">
<part name="parameters" element="tns:getAssetComboInStationHouseResponse"/>
</message>
<message name="createAssetLostByUser">
<part name="parameters" element="tns:createAssetLostByUser"/>
</message>
<message name="createAssetLostByUserResponse">
<part name="parameters" element="tns:createAssetLostByUserResponse"/>
</message>
<message name="cancelAssetLostByUser">
<part name="parameters" element="tns:cancelAssetLostByUser"/>
</message>
<message name="cancelAssetLostByUserResponse">
<part name="parameters" element="tns:cancelAssetLostByUserResponse"/>
</message>
<message name="getCheckMerEntityOfEmployee">
<part name="parameters" element="tns:getCheckMerEntityOfEmployee"/>
</message>
<message name="getCheckMerEntityOfEmployeeResponse">
<part name="parameters" element="tns:getCheckMerEntityOfEmployeeResponse"/>
</message>
<message name="getInvestProjectNation">
<part name="parameters" element="tns:getInvestProjectNation"/>
</message>
<message name="getInvestProjectNationResponse">
<part name="parameters" element="tns:getInvestProjectNationResponse"/>
</message>
<message name="getInvestProject">
<part name="parameters" element="tns:getInvestProject"/>
</message>
<message name="getInvestProjectResponse">
<part name="parameters" element="tns:getInvestProjectResponse"/>
</message>
<message name="getAssetInWarehouse">
<part name="parameters" element="tns:getAssetInWarehouse"/>
</message>
<message name="getAssetInWarehouseResponse">
<part name="parameters" element="tns:getAssetInWarehouseResponse"/>
</message>
<message name="countAssetInWarehouse">
<part name="parameters" element="tns:countAssetInWarehouse"/>
</message>
<message name="countAssetInWarehouseResponse">
<part name="parameters" element="tns:countAssetInWarehouseResponse"/>
</message>
<message name="getAssetStation">
<part name="parameters" element="tns:getAssetStation"/>
</message>
<message name="getAssetStationResponse">
<part name="parameters" element="tns:getAssetStationResponse"/>
</message>
<message name="updateWareExpNote">
<part name="parameters" element="tns:updateWareExpNote"/>
</message>
<message name="updateWareExpNoteResponse">
<part name="parameters" element="tns:updateWareExpNoteResponse"/>
</message>
<message name="checkMerchandiseCode">
<part name="parameters" element="tns:checkMerchandiseCode"/>
</message>
<message name="checkMerchandiseCodeResponse">
<part name="parameters" element="tns:checkMerchandiseCodeResponse"/>
</message>
<message name="updateAcceptanceUCTT">
<part name="parameters" element="tns:updateAcceptanceUCTT"/>
</message>
<message name="updateAcceptanceUCTTResponse">
<part name="parameters" element="tns:updateAcceptanceUCTTResponse"/>
</message>
<message name="rejectAssetMoveConfirm">
<part name="parameters" element="tns:rejectAssetMoveConfirm"/>
</message>
<message name="rejectAssetMoveConfirmResponse">
<part name="parameters" element="tns:rejectAssetMoveConfirmResponse"/>
</message>
<message name="confirmAssetMoveRecv">
<part name="parameters" element="tns:confirmAssetMoveRecv"/>
</message>
<message name="confirmAssetMoveRecvResponse">
<part name="parameters" element="tns:confirmAssetMoveRecvResponse"/>
</message>
<message name="getWarehouseByProvince">
<part name="parameters" element="tns:getWarehouseByProvince"/>
</message>
<message name="getWarehouseByProvinceResponse">
<part name="parameters" element="tns:getWarehouseByProvinceResponse"/>
</message>
<message name="getWarehouseByEmployee">
<part name="parameters" element="tns:getWarehouseByEmployee"/>
</message>
<message name="getWarehouseByEmployeeResponse">
<part name="parameters" element="tns:getWarehouseByEmployeeResponse"/>
</message>
<message name="checkExistsCode">
<part name="parameters" element="tns:checkExistsCode"/>
</message>
<message name="checkExistsCodeResponse">
<part name="parameters" element="tns:checkExistsCodeResponse"/>
</message>
<message name="createImpReq">
<part name="parameters" element="tns:createImpReq"/>
</message>
<message name="createImpReqResponse">
<part name="parameters" element="tns:createImpReqResponse"/>
</message>
<message name="checkListMerEntity">
<part name="parameters" element="tns:checkListMerEntity"/>
</message>
<message name="checkListMerEntityResponse">
<part name="parameters" element="tns:checkListMerEntityResponse"/>
</message>
<message name="getListContractFromConstr">
<part name="parameters" element="tns:getListContractFromConstr"/>
</message>
<message name="getListContractFromConstrResponse">
<part name="parameters" element="tns:getListContractFromConstrResponse"/>
</message>
<message name="checkWorkOrder">
<part name="parameters" element="tns:checkWorkOrder"/>
</message>
<message name="checkWorkOrderResponse">
<part name="parameters" element="tns:checkWorkOrderResponse"/>
</message>
<message name="countAssetStationList">
<part name="parameters" element="tns:countAssetStationList"/>
</message>
<message name="countAssetStationListResponse">
<part name="parameters" element="tns:countAssetStationListResponse"/>
</message>
<message name="getAssetStationList">
<part name="parameters" element="tns:getAssetStationList"/>
</message>
<message name="getAssetStationListResponse">
<part name="parameters" element="tns:getAssetStationListResponse"/>
</message>
<message name="getListStationInStationHouse">
<part name="parameters" element="tns:getListStationInStationHouse"/>
</message>
<message name="getListStationInStationHouseResponse">
<part name="parameters" element="tns:getListStationInStationHouseResponse"/>
</message>
<message name="getAssetFluctuations">
<part name="parameters" element="tns:getAssetFluctuations"/>
</message>
<message name="getAssetFluctuationsResponse">
<part name="parameters" element="tns:getAssetFluctuationsResponse"/>
</message>
<message name="getMerInStation">
<part name="parameters" element="tns:getMerInStation"/>
</message>
<message name="getMerInStationResponse">
<part name="parameters" element="tns:getMerInStationResponse"/>
</message>
<message name="checkOffStation">
<part name="parameters" element="tns:checkOffStation"/>
</message>
<message name="checkOffStationResponse">
<part name="parameters" element="tns:checkOffStationResponse"/>
</message>
<message name="getListAssetInStationHouse">
<part name="parameters" element="tns:getListAssetInStationHouse"/>
</message>
<message name="getListAssetInStationHouseResponse">
<part name="parameters" element="tns:getListAssetInStationHouseResponse"/>
</message>
<message name="getListWarehouseNation">
<part name="parameters" element="tns:getListWarehouseNation"/>
</message>
<message name="getListWarehouseNationResponse">
<part name="parameters" element="tns:getListWarehouseNationResponse"/>
</message>
<message name="getStationListNation">
<part name="parameters" element="tns:getStationListNation"/>
</message>
<message name="getStationListNationResponse">
<part name="parameters" element="tns:getStationListNationResponse"/>
</message>
<message name="createOrderExportNation">
<part name="parameters" element="tns:createOrderExportNation"/>
</message>
<message name="createOrderExportNationResponse">
<part name="parameters" element="tns:createOrderExportNationResponse"/>
</message>
<message name="getAssetInStation">
<part name="parameters" element="tns:getAssetInStation"/>
</message>
<message name="getAssetInStationResponse">
<part name="parameters" element="tns:getAssetInStationResponse"/>
</message>
<message name="countAssetInStation">
<part name="parameters" element="tns:countAssetInStation"/>
</message>
<message name="countAssetInStationResponse">
<part name="parameters" element="tns:countAssetInStationResponse"/>
</message>
<message name="countAssetStation">
<part name="parameters" element="tns:countAssetStation"/>
</message>
<message name="countAssetStationResponse">
<part name="parameters" element="tns:countAssetStationResponse"/>
</message>
<message name="getAssetHistory">
<part name="parameters" element="tns:getAssetHistory"/>
</message>
<message name="getAssetHistoryResponse">
<part name="parameters" element="tns:getAssetHistoryResponse"/>
</message>
<message name="getWarehouseList">
<part name="parameters" element="tns:getWarehouseList"/>
</message>
<message name="getWarehouseListResponse">
<part name="parameters" element="tns:getWarehouseListResponse"/>
</message>
<message name="createOrderExport">
<part name="parameters" element="tns:createOrderExport"/>
</message>
<message name="createOrderExportResponse">
<part name="parameters" element="tns:createOrderExportResponse"/>
</message>
<message name="getWareExpNote">
<part name="parameters" element="tns:getWareExpNote"/>
</message>
<message name="getWareExpNoteResponse">
<part name="parameters" element="tns:getWareExpNoteResponse"/>
</message>
<message name="getListWarehouse">
<part name="parameters" element="tns:getListWarehouse"/>
</message>
<message name="getListWarehouseResponse">
<part name="parameters" element="tns:getListWarehouseResponse"/>
</message>
<portType name="VSmartService">
<operation name="updateTypeInHan">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateTypeInHanRequest" message="tns:updateTypeInHan"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateTypeInHanResponse" message="tns:updateTypeInHanResponse"/>
</operation>
<operation name="updateStatusEntity">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateStatusEntityRequest" message="tns:updateStatusEntity"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateStatusEntityResponse" message="tns:updateStatusEntityResponse"/>
</operation>
<operation name="rejectAssetManager">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/rejectAssetManagerRequest" message="tns:rejectAssetManager"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/rejectAssetManagerResponse" message="tns:rejectAssetManagerResponse"/>
</operation>
<operation name="getSysUserFromStaffCode">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getSysUserFromStaffCodeRequest" message="tns:getSysUserFromStaffCode"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getSysUserFromStaffCodeResponse" message="tns:getSysUserFromStaffCodeResponse"/>
</operation>
<operation name="createAssetMoveCmd">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createAssetMoveCmdRequest" message="tns:createAssetMoveCmd"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createAssetMoveCmdResponse" message="tns:createAssetMoveCmdResponse"/>
</operation>
<operation name="viewInfoAssetMoveCmd">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/viewInfoAssetMoveCmdRequest" message="tns:viewInfoAssetMoveCmd"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/viewInfoAssetMoveCmdResponse" message="tns:viewInfoAssetMoveCmdResponse"/>
</operation>
<operation name="viewInfoAssetMoveConfirm">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/viewInfoAssetMoveConfirmRequest" message="tns:viewInfoAssetMoveConfirm"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/viewInfoAssetMoveConfirmResponse" message="tns:viewInfoAssetMoveConfirmResponse"/>
</operation>
<operation name="getAssetInStationNew">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetInStationNewRequest" message="tns:getAssetInStationNew"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetInStationNewResponse" message="tns:getAssetInStationNewResponse"/>
</operation>
<operation name="getConstructionList">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getConstructionListRequest" message="tns:getConstructionList"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getConstructionListResponse" message="tns:getConstructionListResponse"/>
</operation>
<operation name="getMerchandiseInStation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getMerchandiseInStationRequest" message="tns:getMerchandiseInStation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getMerchandiseInStationResponse" message="tns:getMerchandiseInStationResponse"/>
</operation>
<operation name="confirmAssetMoveDelivery">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/confirmAssetMoveDeliveryRequest" message="tns:confirmAssetMoveDelivery"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/confirmAssetMoveDeliveryResponse" message="tns:confirmAssetMoveDeliveryResponse"/>
</operation>
<operation name="getStationList">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getStationListRequest" message="tns:getStationList"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getStationListResponse" message="tns:getStationListResponse"/>
</operation>
<operation name="getLineList">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getLineListRequest" message="tns:getLineList"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getLineListResponse" message="tns:getLineListResponse"/>
</operation>
<operation name="getListEntityByUser">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListEntityByUserRequest" message="tns:getListEntityByUser"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListEntityByUserResponse" message="tns:getListEntityByUserResponse"/>
</operation>
<operation name="countEntityByUser">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countEntityByUserRequest" message="tns:countEntityByUser"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countEntityByUserResponse" message="tns:countEntityByUserResponse"/>
</operation>
<operation name="getListHandoverByUser">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListHandoverByUserRequest" message="tns:getListHandoverByUser"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListHandoverByUserResponse" message="tns:getListHandoverByUserResponse"/>
</operation>
<operation name="getListEntityInHan">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListEntityInHanRequest" message="tns:getListEntityInHan"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListEntityInHanResponse" message="tns:getListEntityInHanResponse"/>
</operation>
<operation name="updateWareExpNoteNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateWareExpNoteNationRequest" message="tns:updateWareExpNoteNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateWareExpNoteNationResponse" message="tns:updateWareExpNoteNationResponse"/>
</operation>
<operation name="checkMerchandiseCodeNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkMerchandiseCodeNationRequest" message="tns:checkMerchandiseCodeNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkMerchandiseCodeNationResponse" message="tns:checkMerchandiseCodeNationResponse"/>
</operation>
<operation name="checkListMerEntityNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkListMerEntityNationRequest" message="tns:checkListMerEntityNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkListMerEntityNationResponse" message="tns:checkListMerEntityNationResponse"/>
</operation>
<operation name="updateAcceptanceUCTTNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateAcceptanceUCTTNationRequest" message="tns:updateAcceptanceUCTTNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateAcceptanceUCTTNationResponse" message="tns:updateAcceptanceUCTTNationResponse"/>
</operation>
<operation name="getConstructionListNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getConstructionListNationRequest" message="tns:getConstructionListNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getConstructionListNationResponse" message="tns:getConstructionListNationResponse"/>
</operation>
<operation name="createImpReqNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createImpReqNationRequest" message="tns:createImpReqNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createImpReqNationResponse" message="tns:createImpReqNationResponse"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createImpReqNation/Fault/NoSuchAlgorithmException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createImpReqNation/Fault/Exception"/>
</operation>
<operation name="createAssetMoveCmdNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createAssetMoveCmdNationRequest" message="tns:createAssetMoveCmdNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createAssetMoveCmdNationResponse" message="tns:createAssetMoveCmdNationResponse"/>
</operation>
<operation name="confirmAssetMoveDeliveryNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/confirmAssetMoveDeliveryNationRequest" message="tns:confirmAssetMoveDeliveryNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/confirmAssetMoveDeliveryNationResponse" message="tns:confirmAssetMoveDeliveryNationResponse"/>
</operation>
<operation name="confirmAssetMoveRecvNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/confirmAssetMoveRecvNationRequest" message="tns:confirmAssetMoveRecvNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/confirmAssetMoveRecvNationResponse" message="tns:confirmAssetMoveRecvNationResponse"/>
</operation>
<operation name="rejectAssetMoveConfirmNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/rejectAssetMoveConfirmNationRequest" message="tns:rejectAssetMoveConfirmNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/rejectAssetMoveConfirmNationResponse" message="tns:rejectAssetMoveConfirmNationResponse"/>
</operation>
<operation name="getAssetInWarehouseNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetInWarehouseNationRequest" message="tns:getAssetInWarehouseNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetInWarehouseNationResponse" message="tns:getAssetInWarehouseNationResponse"/>
</operation>
<operation name="checkWorkOrderNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkWorkOrderNationRequest" message="tns:checkWorkOrderNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkWorkOrderNationResponse" message="tns:checkWorkOrderNationResponse"/>
</operation>
<operation name="checkOffStationNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkOffStationNationRequest" message="tns:checkOffStationNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkOffStationNationResponse" message="tns:checkOffStationNationResponse"/>
</operation>
<operation name="getListContractFromConstrNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListContractFromConstrNationRequest" message="tns:getListContractFromConstrNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListContractFromConstrNationResponse" message="tns:getListContractFromConstrNationResponse"/>
</operation>
<operation name="countAssetInWarehouseNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countAssetInWarehouseNationRequest" message="tns:countAssetInWarehouseNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countAssetInWarehouseNationResponse" message="tns:countAssetInWarehouseNationResponse"/>
</operation>
<operation name="countAssetInStationNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countAssetInStationNationRequest" message="tns:countAssetInStationNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countAssetInStationNationResponse" message="tns:countAssetInStationNationResponse"/>
</operation>
<operation name="getAssetInStationNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetInStationNationRequest" message="tns:getAssetInStationNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetInStationNationResponse" message="tns:getAssetInStationNationResponse"/>
</operation>
<operation name="getAssetHistoryNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetHistoryNationRequest" message="tns:getAssetHistoryNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetHistoryNationResponse" message="tns:getAssetHistoryNationResponse"/>
</operation>
<operation name="getWarehouseListNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getWarehouseListNationRequest" message="tns:getWarehouseListNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getWarehouseListNationResponse" message="tns:getWarehouseListNationResponse"/>
</operation>
<operation name="getWareExpNoteNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getWareExpNoteNationRequest" message="tns:getWareExpNoteNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getWareExpNoteNationResponse" message="tns:getWareExpNoteNationResponse"/>
</operation>
<operation name="viewInfoAssetMoveCmdNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/viewInfoAssetMoveCmdNationRequest" message="tns:viewInfoAssetMoveCmdNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/viewInfoAssetMoveCmdNationResponse" message="tns:viewInfoAssetMoveCmdNationResponse"/>
</operation>
<operation name="viewInfoAssetMoveConfirmNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/viewInfoAssetMoveConfirmNationRequest" message="tns:viewInfoAssetMoveConfirmNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/viewInfoAssetMoveConfirmNationResponse" message="tns:viewInfoAssetMoveConfirmNationResponse"/>
</operation>
<operation name="countAssetStationNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countAssetStationNationRequest" message="tns:countAssetStationNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countAssetStationNationResponse" message="tns:countAssetStationNationResponse"/>
</operation>
<operation name="getAssetStationNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetStationNationRequest" message="tns:getAssetStationNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetStationNationResponse" message="tns:getAssetStationNationResponse"/>
</operation>
<operation name="getAssetStationListNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetStationListNationRequest" message="tns:getAssetStationListNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetStationListNationResponse" message="tns:getAssetStationListNationResponse"/>
</operation>
<operation name="countAssetStationListNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countAssetStationListNationRequest" message="tns:countAssetStationListNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countAssetStationListNationResponse" message="tns:countAssetStationListNationResponse"/>
</operation>
<operation name="getListStationInStationHouseNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListStationInStationHouseNationRequest" message="tns:getListStationInStationHouseNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListStationInStationHouseNationResponse" message="tns:getListStationInStationHouseNationResponse"/>
</operation>
<operation name="getAssetFluctuationsNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetFluctuationsNationRequest" message="tns:getAssetFluctuationsNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetFluctuationsNationResponse" message="tns:getAssetFluctuationsNationResponse"/>
</operation>
<operation name="getMerInStationNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getMerInStationNationRequest" message="tns:getMerInStationNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getMerInStationNationResponse" message="tns:getMerInStationNationResponse"/>
</operation>
<operation name="createAssetMoveCmdCDC">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createAssetMoveCmdCDCRequest" message="tns:createAssetMoveCmdCDC"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createAssetMoveCmdCDCResponse" message="tns:createAssetMoveCmdCDCResponse"/>
</operation>
<operation name="confirmAssetMove">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/confirmAssetMoveRequest" message="tns:confirmAssetMove"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/confirmAssetMoveResponse" message="tns:confirmAssetMoveResponse"/>
</operation>
<operation name="checkScanSerial">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkScanSerialRequest" message="tns:checkScanSerial"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkScanSerialResponse" message="tns:checkScanSerialResponse"/>
</operation>
<operation name="getListmoveCmdCDC">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListmoveCmdCDCRequest" message="tns:getListmoveCmdCDC"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListmoveCmdCDCResponse" message="tns:getListmoveCmdCDCResponse"/>
</operation>
<operation name="getLimitScriptUCTTNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getLimitScriptUCTTNationRequest" message="tns:getLimitScriptUCTTNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getLimitScriptUCTTNationResponse" message="tns:getLimitScriptUCTTNationResponse"/>
</operation>
<operation name="getLimitScriptUCTT">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getLimitScriptUCTTRequest" message="tns:getLimitScriptUCTT"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getLimitScriptUCTTResponse" message="tns:getLimitScriptUCTTResponse"/>
</operation>
<operation name="createAssetLostNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createAssetLostNationRequest" message="tns:createAssetLostNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createAssetLostNationResponse" message="tns:createAssetLostNationResponse"/>
</operation>
<operation name="createAssetLost">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createAssetLostRequest" message="tns:createAssetLost"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createAssetLostResponse" message="tns:createAssetLostResponse"/>
</operation>
<operation name="getListMerchandiseAppraiseNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListMerchandiseAppraiseNationRequest" message="tns:getListMerchandiseAppraiseNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListMerchandiseAppraiseNationResponse" message="tns:getListMerchandiseAppraiseNationResponse"/>
</operation>
<operation name="getListCriteriaAHINation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListCriteriaAHINationRequest" message="tns:getListCriteriaAHINation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListCriteriaAHINationResponse" message="tns:getListCriteriaAHINationResponse"/>
</operation>
<operation name="updateAHIScoreNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateAHIScoreNationRequest" message="tns:updateAHIScoreNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateAHIScoreNationResponse" message="tns:updateAHIScoreNationResponse"/>
</operation>
<operation name="getLinkListNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getLinkListNationRequest" message="tns:getLinkListNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getLinkListNationResponse" message="tns:getLinkListNationResponse"/>
</operation>
<operation name="getLineListNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getLineListNationRequest" message="tns:getLineListNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getLineListNationResponse" message="tns:getLineListNationResponse"/>
</operation>
<operation name="searchMappingLinkAndLineNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/searchMappingLinkAndLineNationRequest" message="tns:searchMappingLinkAndLineNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/searchMappingLinkAndLineNationResponse" message="tns:searchMappingLinkAndLineNationResponse"/>
</operation>
<operation name="mappingFromLineToLinkNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/mappingFromLineToLinkNationRequest" message="tns:mappingFromLineToLinkNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/mappingFromLineToLinkNationResponse" message="tns:mappingFromLineToLinkNationResponse"/>
</operation>
<operation name="getListCatMerConfig">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListCatMerConfigRequest" message="tns:getListCatMerConfig"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListCatMerConfigResponse" message="tns:getListCatMerConfigResponse"/>
</operation>
<operation name="getListCatMerConfigNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListCatMerConfigNationRequest" message="tns:getListCatMerConfigNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListCatMerConfigNationResponse" message="tns:getListCatMerConfigNationResponse"/>
</operation>
<operation name="getAcceptanceUCTTNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAcceptanceUCTTNationRequest" message="tns:getAcceptanceUCTTNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAcceptanceUCTTNationResponse" message="tns:getAcceptanceUCTTNationResponse"/>
</operation>
<operation name="getComboInStationHouseNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getComboInStationHouseNationRequest" message="tns:getComboInStationHouseNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getComboInStationHouseNationResponse" message="tns:getComboInStationHouseNationResponse"/>
</operation>
<operation name="getAssetComboInStationHouseNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetComboInStationHouseNationRequest" message="tns:getAssetComboInStationHouseNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetComboInStationHouseNationResponse" message="tns:getAssetComboInStationHouseNationResponse"/>
</operation>
<operation name="insertComboNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/insertComboNationRequest" message="tns:insertComboNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/insertComboNationResponse" message="tns:insertComboNationResponse"/>
</operation>
<operation name="deleteComboNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/deleteComboNationRequest" message="tns:deleteComboNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/deleteComboNationResponse" message="tns:deleteComboNationResponse"/>
</operation>
<operation name="updateComboNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateComboNationRequest" message="tns:updateComboNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateComboNationResponse" message="tns:updateComboNationResponse"/>
</operation>
<operation name="getListCatErrorNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListCatErrorNationRequest" message="tns:getListCatErrorNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListCatErrorNationResponse" message="tns:getListCatErrorNationResponse"/>
</operation>
<operation name="getListCatError">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListCatErrorRequest" message="tns:getListCatError"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListCatErrorResponse" message="tns:getListCatErrorResponse"/>
</operation>
<operation name="updateCombo">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateComboRequest" message="tns:updateCombo"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateComboResponse" message="tns:updateComboResponse"/>
</operation>
<operation name="insertCombo">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/insertComboRequest" message="tns:insertCombo"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/insertComboResponse" message="tns:insertComboResponse"/>
</operation>
<operation name="deleteCombo">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/deleteComboRequest" message="tns:deleteCombo"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/deleteComboResponse" message="tns:deleteComboResponse"/>
</operation>
<operation name="getListMerchandiseAppraise">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListMerchandiseAppraiseRequest" message="tns:getListMerchandiseAppraise"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListMerchandiseAppraiseResponse" message="tns:getListMerchandiseAppraiseResponse"/>
</operation>
<operation name="getListCriteriaAHI">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListCriteriaAHIRequest" message="tns:getListCriteriaAHI"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListCriteriaAHIResponse" message="tns:getListCriteriaAHIResponse"/>
</operation>
<operation name="updateAHIScore">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateAHIScoreRequest" message="tns:updateAHIScore"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateAHIScoreResponse" message="tns:updateAHIScoreResponse"/>
</operation>
<operation name="getLinkList">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getLinkListRequest" message="tns:getLinkList"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getLinkListResponse" message="tns:getLinkListResponse"/>
</operation>
<operation name="searchMappingLinkAndLine">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/searchMappingLinkAndLineRequest" message="tns:searchMappingLinkAndLine"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/searchMappingLinkAndLineResponse" message="tns:searchMappingLinkAndLineResponse"/>
</operation>
<operation name="mappingFromLineToLink">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/mappingFromLineToLinkRequest" message="tns:mappingFromLineToLink"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/mappingFromLineToLinkResponse" message="tns:mappingFromLineToLinkResponse"/>
</operation>
<operation name="getAcceptanceUCTT">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAcceptanceUCTTRequest" message="tns:getAcceptanceUCTT"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAcceptanceUCTTResponse" message="tns:getAcceptanceUCTTResponse"/>
</operation>
<operation name="getComboInStationHouse">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getComboInStationHouseRequest" message="tns:getComboInStationHouse"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getComboInStationHouseResponse" message="tns:getComboInStationHouseResponse"/>
</operation>
<operation name="getAssetComboInStationHouse">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetComboInStationHouseRequest" message="tns:getAssetComboInStationHouse"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetComboInStationHouseResponse" message="tns:getAssetComboInStationHouseResponse"/>
</operation>
<operation name="createAssetLostByUser">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createAssetLostByUserRequest" message="tns:createAssetLostByUser"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createAssetLostByUserResponse" message="tns:createAssetLostByUserResponse"/>
</operation>
<operation name="cancelAssetLostByUser">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/cancelAssetLostByUserRequest" message="tns:cancelAssetLostByUser"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/cancelAssetLostByUserResponse" message="tns:cancelAssetLostByUserResponse"/>
</operation>
<operation name="getCheckMerEntityOfEmployee">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getCheckMerEntityOfEmployeeRequest" message="tns:getCheckMerEntityOfEmployee"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getCheckMerEntityOfEmployeeResponse" message="tns:getCheckMerEntityOfEmployeeResponse"/>
</operation>
<operation name="getInvestProjectNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getInvestProjectNationRequest" message="tns:getInvestProjectNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getInvestProjectNationResponse" message="tns:getInvestProjectNationResponse"/>
</operation>
<operation name="getInvestProject">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getInvestProjectRequest" message="tns:getInvestProject"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getInvestProjectResponse" message="tns:getInvestProjectResponse"/>
</operation>
<operation name="getAssetInWarehouse">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetInWarehouseRequest" message="tns:getAssetInWarehouse"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetInWarehouseResponse" message="tns:getAssetInWarehouseResponse"/>
</operation>
<operation name="countAssetInWarehouse">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countAssetInWarehouseRequest" message="tns:countAssetInWarehouse"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countAssetInWarehouseResponse" message="tns:countAssetInWarehouseResponse"/>
</operation>
<operation name="getAssetStation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetStationRequest" message="tns:getAssetStation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetStationResponse" message="tns:getAssetStationResponse"/>
</operation>
<operation name="updateWareExpNote">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateWareExpNoteRequest" message="tns:updateWareExpNote"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateWareExpNoteResponse" message="tns:updateWareExpNoteResponse"/>
</operation>
<operation name="checkMerchandiseCode">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkMerchandiseCodeRequest" message="tns:checkMerchandiseCode"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkMerchandiseCodeResponse" message="tns:checkMerchandiseCodeResponse"/>
</operation>
<operation name="updateAcceptanceUCTT">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateAcceptanceUCTTRequest" message="tns:updateAcceptanceUCTT"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/updateAcceptanceUCTTResponse" message="tns:updateAcceptanceUCTTResponse"/>
</operation>
<operation name="rejectAssetMoveConfirm">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/rejectAssetMoveConfirmRequest" message="tns:rejectAssetMoveConfirm"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/rejectAssetMoveConfirmResponse" message="tns:rejectAssetMoveConfirmResponse"/>
</operation>
<operation name="confirmAssetMoveRecv">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/confirmAssetMoveRecvRequest" message="tns:confirmAssetMoveRecv"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/confirmAssetMoveRecvResponse" message="tns:confirmAssetMoveRecvResponse"/>
</operation>
<operation name="getWarehouseByProvince">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getWarehouseByProvinceRequest" message="tns:getWarehouseByProvince"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getWarehouseByProvinceResponse" message="tns:getWarehouseByProvinceResponse"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getWarehouseByProvince/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="getWarehouseByEmployee">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getWarehouseByEmployeeRequest" message="tns:getWarehouseByEmployee"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getWarehouseByEmployeeResponse" message="tns:getWarehouseByEmployeeResponse"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getWarehouseByEmployee/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="checkExistsCode">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkExistsCodeRequest" message="tns:checkExistsCode"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkExistsCodeResponse" message="tns:checkExistsCodeResponse"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkExistsCode/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="createImpReq">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createImpReqRequest" message="tns:createImpReq"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createImpReqResponse" message="tns:createImpReqResponse"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createImpReq/Fault/NoSuchAlgorithmException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createImpReq/Fault/Exception"/>
</operation>
<operation name="checkListMerEntity">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkListMerEntityRequest" message="tns:checkListMerEntity"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkListMerEntityResponse" message="tns:checkListMerEntityResponse"/>
</operation>
<operation name="getListContractFromConstr">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListContractFromConstrRequest" message="tns:getListContractFromConstr"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListContractFromConstrResponse" message="tns:getListContractFromConstrResponse"/>
</operation>
<operation name="checkWorkOrder">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkWorkOrderRequest" message="tns:checkWorkOrder"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkWorkOrderResponse" message="tns:checkWorkOrderResponse"/>
</operation>
<operation name="countAssetStationList">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countAssetStationListRequest" message="tns:countAssetStationList"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countAssetStationListResponse" message="tns:countAssetStationListResponse"/>
</operation>
<operation name="getAssetStationList">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetStationListRequest" message="tns:getAssetStationList"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetStationListResponse" message="tns:getAssetStationListResponse"/>
</operation>
<operation name="getListStationInStationHouse">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListStationInStationHouseRequest" message="tns:getListStationInStationHouse"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListStationInStationHouseResponse" message="tns:getListStationInStationHouseResponse"/>
</operation>
<operation name="getAssetFluctuations">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetFluctuationsRequest" message="tns:getAssetFluctuations"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetFluctuationsResponse" message="tns:getAssetFluctuationsResponse"/>
</operation>
<operation name="getMerInStation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getMerInStationRequest" message="tns:getMerInStation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getMerInStationResponse" message="tns:getMerInStationResponse"/>
</operation>
<operation name="checkOffStation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkOffStationRequest" message="tns:checkOffStation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/checkOffStationResponse" message="tns:checkOffStationResponse"/>
</operation>
<operation name="getListAssetInStationHouse">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListAssetInStationHouseRequest" message="tns:getListAssetInStationHouse"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListAssetInStationHouseResponse" message="tns:getListAssetInStationHouseResponse"/>
</operation>
<operation name="getListWarehouseNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListWarehouseNationRequest" message="tns:getListWarehouseNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListWarehouseNationResponse" message="tns:getListWarehouseNationResponse"/>
</operation>
<operation name="getStationListNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getStationListNationRequest" message="tns:getStationListNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getStationListNationResponse" message="tns:getStationListNationResponse"/>
</operation>
<operation name="createOrderExportNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createOrderExportNationRequest" message="tns:createOrderExportNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createOrderExportNationResponse" message="tns:createOrderExportNationResponse"/>
</operation>
<operation name="getAssetInStation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetInStationRequest" message="tns:getAssetInStation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetInStationResponse" message="tns:getAssetInStationResponse"/>
</operation>
<operation name="countAssetInStation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countAssetInStationRequest" message="tns:countAssetInStation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countAssetInStationResponse" message="tns:countAssetInStationResponse"/>
</operation>
<operation name="countAssetStation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countAssetStationRequest" message="tns:countAssetStation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/countAssetStationResponse" message="tns:countAssetStationResponse"/>
</operation>
<operation name="getAssetHistory">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetHistoryRequest" message="tns:getAssetHistory"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getAssetHistoryResponse" message="tns:getAssetHistoryResponse"/>
</operation>
<operation name="getWarehouseList">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getWarehouseListRequest" message="tns:getWarehouseList"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getWarehouseListResponse" message="tns:getWarehouseListResponse"/>
</operation>
<operation name="createOrderExport">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createOrderExportRequest" message="tns:createOrderExport"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/createOrderExportResponse" message="tns:createOrderExportResponse"/>
</operation>
<operation name="getWareExpNote">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getWareExpNoteRequest" message="tns:getWareExpNote"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getWareExpNoteResponse" message="tns:getWareExpNoteResponse"/>
</operation>
<operation name="getListWarehouse">
<input wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListWarehouseRequest" message="tns:getListWarehouse"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/VSmartService/getListWarehouseResponse" message="tns:getListWarehouseResponse"/>
</operation>
</portType>
<binding name="VSmartServicePortBinding" type="tns:VSmartService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateTypeInHan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStatusEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rejectAssetManager">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSysUserFromStaffCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAssetMoveCmd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewInfoAssetMoveCmd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewInfoAssetMoveConfirm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssetInStationNew">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getConstructionList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMerchandiseInStation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmAssetMoveDelivery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStationList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLineList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListEntityByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countEntityByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListHandoverByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListEntityInHan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateWareExpNoteNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkMerchandiseCodeNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkListMerEntityNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAcceptanceUCTTNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getConstructionListNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createImpReqNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createAssetMoveCmdNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmAssetMoveDeliveryNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmAssetMoveRecvNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rejectAssetMoveConfirmNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssetInWarehouseNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkWorkOrderNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkOffStationNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListContractFromConstrNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countAssetInWarehouseNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countAssetInStationNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssetInStationNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssetHistoryNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWarehouseListNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWareExpNoteNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewInfoAssetMoveCmdNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewInfoAssetMoveConfirmNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countAssetStationNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssetStationNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssetStationListNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countAssetStationListNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListStationInStationHouseNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssetFluctuationsNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMerInStationNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAssetMoveCmdCDC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmAssetMove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkScanSerial">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListmoveCmdCDC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLimitScriptUCTTNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLimitScriptUCTT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAssetLostNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAssetLost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListMerchandiseAppraiseNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListCriteriaAHINation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAHIScoreNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLinkListNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLineListNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMappingLinkAndLineNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mappingFromLineToLinkNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListCatMerConfig">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListCatMerConfigNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAcceptanceUCTTNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComboInStationHouseNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssetComboInStationHouseNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertComboNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteComboNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateComboNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListCatErrorNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListCatError">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCombo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertCombo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCombo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListMerchandiseAppraise">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListCriteriaAHI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAHIScore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLinkList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMappingLinkAndLine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mappingFromLineToLink">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAcceptanceUCTT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComboInStationHouse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssetComboInStationHouse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAssetLostByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelAssetLostByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCheckMerEntityOfEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInvestProjectNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInvestProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssetInWarehouse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countAssetInWarehouse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssetStation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateWareExpNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkMerchandiseCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAcceptanceUCTT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rejectAssetMoveConfirm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmAssetMoveRecv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWarehouseByProvince">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="getWarehouseByEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="checkExistsCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="createImpReq">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="checkListMerEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListContractFromConstr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkWorkOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countAssetStationList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssetStationList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListStationInStationHouse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssetFluctuations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMerInStation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkOffStation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListAssetInStationHouse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListWarehouseNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStationListNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createOrderExportNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssetInStation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countAssetInStation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countAssetStation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAssetHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWarehouseList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createOrderExport">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWareExpNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListWarehouse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VSmartService">
<port name="VSmartServicePort" binding="tns:VSmartServicePortBinding">
<soap:address location="http://10.58.71.138:8153/KTTS2_SERVICE/VSmartService"/>
</port>
</service>
</definitions>
