qlts.xml

<!--  Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094.  -->
<!--  Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.qldtktts.viettel.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.qldtktts.viettel.com/" name="QLCTKTSyncWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.qldtktts.viettel.com/" schemaLocation="http://10.60.129.245:8010/KTTS_SYNC_WS/QLCTKTSyncWS?xsd=1"/>
</xsd:schema>
</types>
<message name="syncMerInStation">
<part name="parameters" element="tns:syncMerInStation"/>
</message>
<message name="syncMerInStationResponse">
<part name="parameters" element="tns:syncMerInStationResponse"/>
</message>
<message name="syncMerInStationNation">
<part name="parameters" element="tns:syncMerInStationNation"/>
</message>
<message name="syncMerInStationNationResponse">
<part name="parameters" element="tns:syncMerInStationNationResponse"/>
</message>
<message name="getListMerEntityStation">
<part name="parameters" element="tns:getListMerEntityStation"/>
</message>
<message name="getListMerEntityStationResponse">
<part name="parameters" element="tns:getListMerEntityStationResponse"/>
</message>
<message name="getListDataConstructions">
<part name="parameters" element="tns:getListDataConstructions"/>
</message>
<message name="getListDataConstructionsResponse">
<part name="parameters" element="tns:getListDataConstructionsResponse"/>
</message>
<message name="synchronizeCableNIMS">
<part name="parameters" element="tns:synchronizeCableNIMS"/>
</message>
<message name="synchronizeCableNIMSResponse">
<part name="parameters" element="tns:synchronizeCableNIMSResponse"/>
</message>
<message name="checkConstrCodeIsExist">
<part name="parameters" element="tns:checkConstrCodeIsExist"/>
</message>
<message name="checkConstrCodeIsExistResponse">
<part name="parameters" element="tns:checkConstrCodeIsExistResponse"/>
</message>
<message name="updateListVTTBByCallOff">
<part name="parameters" element="tns:updateListVTTBByCallOff"/>
</message>
<message name="updateListVTTBByCallOffResponse">
<part name="parameters" element="tns:updateListVTTBByCallOffResponse"/>
</message>
<message name="checkCallOff">
<part name="parameters" element="tns:checkCallOff"/>
</message>
<message name="checkCallOffResponse">
<part name="parameters" element="tns:checkCallOffResponse"/>
</message>
<message name="getListMerEntityStationNation">
<part name="parameters" element="tns:getListMerEntityStationNation"/>
</message>
<message name="getListMerEntityStationNationResponse">
<part name="parameters" element="tns:getListMerEntityStationNationResponse"/>
</message>
<message name="getListDataConstructionsNation">
<part name="parameters" element="tns:getListDataConstructionsNation"/>
</message>
<message name="getListDataConstructionsNationResponse">
<part name="parameters" element="tns:getListDataConstructionsNationResponse"/>
</message>
<portType name="QLCTKTSyncWS">
<operation name="syncMerInStation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/syncMerInStationRequest" message="tns:syncMerInStation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/syncMerInStationResponse" message="tns:syncMerInStationResponse"/>
</operation>
<operation name="syncMerInStationNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/syncMerInStationNationRequest" message="tns:syncMerInStationNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/syncMerInStationNationResponse" message="tns:syncMerInStationNationResponse"/>
</operation>
<operation name="getListMerEntityStation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/getListMerEntityStationRequest" message="tns:getListMerEntityStation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/getListMerEntityStationResponse" message="tns:getListMerEntityStationResponse"/>
</operation>
<operation name="getListDataConstructions">
<input wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/getListDataConstructionsRequest" message="tns:getListDataConstructions"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/getListDataConstructionsResponse" message="tns:getListDataConstructionsResponse"/>
</operation>
<operation name="synchronizeCableNIMS">
<input wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/synchronizeCableNIMSRequest" message="tns:synchronizeCableNIMS"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/synchronizeCableNIMSResponse" message="tns:synchronizeCableNIMSResponse"/>
</operation>
<operation name="checkConstrCodeIsExist">
<input wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/checkConstrCodeIsExistRequest" message="tns:checkConstrCodeIsExist"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/checkConstrCodeIsExistResponse" message="tns:checkConstrCodeIsExistResponse"/>
</operation>
<operation name="updateListVTTBByCallOff">
<input wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/updateListVTTBByCallOffRequest" message="tns:updateListVTTBByCallOff"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/updateListVTTBByCallOffResponse" message="tns:updateListVTTBByCallOffResponse"/>
</operation>
<operation name="checkCallOff">
<input wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/checkCallOffRequest" message="tns:checkCallOff"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/checkCallOffResponse" message="tns:checkCallOffResponse"/>
</operation>
<operation name="getListMerEntityStationNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/getListMerEntityStationNationRequest" message="tns:getListMerEntityStationNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/getListMerEntityStationNationResponse" message="tns:getListMerEntityStationNationResponse"/>
</operation>
<operation name="getListDataConstructionsNation">
<input wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/getListDataConstructionsNationRequest" message="tns:getListDataConstructionsNation"/>
<output wsam:Action="http://webservice.qldtktts.viettel.com/QLCTKTSyncWS/getListDataConstructionsNationResponse" message="tns:getListDataConstructionsNationResponse"/>
</operation>
</portType>
<binding name="QLCTKTSyncWSPortBinding" type="tns:QLCTKTSyncWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="syncMerInStation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="syncMerInStationNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListMerEntityStation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListDataConstructions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="synchronizeCableNIMS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkConstrCodeIsExist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateListVTTBByCallOff">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkCallOff">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListMerEntityStationNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListDataConstructionsNation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QLCTKTSyncWS">
<port name="QLCTKTSyncWSPort" binding="tns:QLCTKTSyncWSPortBinding">
<soap:address location="http://10.60.129.245:8010/KTTS_SYNC_WS/QLCTKTSyncWS"/>
</port>
</service>
</definitions>
